#image{
  max-width: 200px;
  max-height: 300px;
}

body {
  background-color: #f6f6f6;
  font: #add8e6;
}

#form {
  float:right;
  width: 70%;
  display:inline-block;
}

.mainpage {
  font: #add8e6;
  background-color: white;
  border: 1px solid transparent;
  width: 70%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

p {
  border-top: 1px solid grey;
}

.image{
  float: left;
  width: 30%;
}

.maininfo {
  display: inline-block;
  width: 40%;
}

#nav {
  float: left;
  width: 30%;
}

#info {
  display: inline-block;
  width: 50%;
}

ul {
  list-style: none;
}

.itemform {
  width: 60%;
  float: right;
}

#bio {
  max-height: 150px;
  overflow: scroll;
  display:block;
}

span {
  font: ;
}